<div class="routeroutlet">
  <h3>Buttons:</h3>
</div>
<mat-grid-list cols="7" rowHeight="72%" gutterSize="5px" class="routeroutlet">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Basic</h3>

    <div class="example-button-row">
      <button mat-button>Basic</button><br />
      <button mat-button color="primary">Primary</button><br />
      <button mat-button color="accent">Accent</button><br />
      <button mat-button color="warn">Warn</button><br />
      <button mat-button disabled>Disabled</button><br />
      <a mat-button routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Flat</h3>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button><br />
      <button mat-flat-button color="primary">Primary</button><br />
      <button mat-flat-button color="accent">Accent</button><br />
      <button mat-flat-button color="warn">Warn</button><br />
      <button mat-flat-button disabled>Disabled</button><br />
      <a mat-flat-button routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Raised</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button><br />
      <button mat-raised-button color="primary">Primary</button><br />
      <button mat-raised-button color="accent">Accent</button><br />
      <button mat-raised-button color="warn">Warn</button><br />
      <button mat-raised-button disabled>Disabled</button><br />
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Stroked</h3>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button><br />
      <button mat-stroked-button color="primary">Primary</button><br />
      <button mat-stroked-button color="accent">Accent</button><br />
      <button mat-stroked-button color="warn">Warn</button><br />
      <button mat-stroked-button disabled>Disabled</button><br />
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Icon</h3>
    <div class="example-button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Fab</h3>
    <div class="example-button-row">
      <button mat-fab>Basic</button><br />
      <button mat-fab color="primary">Primary</button><br />
      <button mat-fab color="accent">Accent</button><br />
      <button mat-fab color="warn">Warn</button><br />
      <button mat-fab disabled>Disabled</button><br />
      <button mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button
      ><br />
      <a mat-fab routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>Mini&nbsp;Fab</h3>
    <div class="example-button-row">
      <button mat-mini-fab>Basic</button><br />
      <button mat-mini-fab color="primary">Primary</button><br />
      <button mat-mini-fab color="accent">Accent</button><br />
      <button mat-mini-fab color="warn">Warn</button><br />
      <button mat-mini-fab disabled>Disabled</button><br />
      <button mat-mini-fab><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button><br />
      <a mat-mini-fab routerLink=".">Link</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
