<!-- autocomplete -->
WIP: Work in Progress <i>(i.e.: incomplete forever...)</i> :
<mat-form-field class="w-100" [appearance]="appearance" autocomplete="off">
  <mat-icon color="primary" matPrefix>{{ icon }}</mat-icon>
  <mat-label>{{ title }}</mat-label>

  <input
    type="text"
    matInput
    name="address"
    [(ngModel)]="selectedAddress"
    (keyup)="getGooglePredictions($event.target.value)"
    [matAutocomplete]="addressAutoComplete"
    [required]="required"
    [disabled]="disabled"
    id="address-autocomplete-{{ id }}"
    (blur)="isAddressSelectedFromAutocomplete()"
  />
  <mat-error>Please enter valid address</mat-error>
</mat-form-field>

<mat-autocomplete #addressAutoComplete="matAutocomplete" (optionSelected)="selectGoogleAddressPrediction($event, $event?.option?.value?.place_id)" [displayWith]="autoCompleteDisplayWith">
  <mat-option *ngFor="let googleAddressPrediction of googleAddressPredictions; let index = index" [value]="googleAddressPrediction" id="address-autocomplete-{{ id }}-{{ index }}">
    <mat-icon class="opacity-60" matPrefix>location_on</mat-icon>{{ googleAddressPrediction?.description }}
  </mat-option>
</mat-autocomplete>
<!-- end of autocomplete -->
