<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>[Maybe a Logo]</span>
    <span class="example-spacer"></span>
    <h6>Welcome to {{ title }}!</h6>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/" matTooltip="Go to Home page">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">home</mat-icon>
    </button>
    <button mat-button routerLink="/x">
      <mat-icon aria-label="Example icon-button with a heart icon">start</mat-icon>
    </button>
    <button mat-button routerLink="/b">
      <mat-icon aria-label="Example icon-button with a heart icon">stop</mat-icon>
    </button>
    <button mat-button routerLink="/a">
      <mat-icon aria-label="Example icon-button with a heart icon">money</mat-icon>
    </button>
    <!-- <button mat-button routerLink="/my-projects">My Projets</button> -->
    <!-- <button mat-button routerLink="/contact">Contact</button> 
      <button mat-button (click)="toggleTheme()" matTooltip="Toggles the theme">Theme</button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">menu</mat-icon>
    -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
