<mat-grid-list cols="12" rowHeight="92%" gutterSize="5px" class="routeroutlet">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <div class="full-width-top">
      <ul class="tasks">
        <li *ngFor="let task of tasks" [class.selected]="task === selectedTask1" (click)="onSelect1(task)">
          <app-task-detail [task]="task"></app-task-detail>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <div class="full-width-top" *ngIf="selectedTask1">
      <ul class="tasks">
        <li *ngFor="let task of selectedTask1.subtasks" [class.selected]="task === selectedTask2" (click)="onSelect2(task)">
          <app-task-detail [task]="task"></app-task-detail>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <div class="full-width-top" *ngIf="selectedTask2">
      <ul class="tasks">
        <li *ngFor="let task of selectedTask2.subtasks" [class.selected]="task === selectedTask3" (click)="onSelect3(task)">
          <app-task-detail [task]="task"></app-task-detail>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <mat-vertical-stepper #stepper>
      <mat-step *ngFor="let task of tasks">
        <ng-template matStepLabel> {{ task.name | uppercase }}&nbsp;-&nbsp;{{ task.progress }}&nbsp;% </ng-template>
        Click when ready.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <!-- <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step> -->
    </mat-vertical-stepper>
  </mat-grid-tile>
</mat-grid-list>
