<mat-grid-list cols="12" rowHeight="500px">
  <mat-grid-tile> </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>About</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Founded</b> <br />2019</p>
        <p><b>Founders</b> <br />Alex & C°</p>
        <p><b>Incoroporated</b><br />2079</p>
        <p>
          <b>Headquarters</b><br />
          000 Yonge Street <br />Toronto, ON A1A1A1 <br />alex.pigida@outlook.com
        </p>
        <p>
          <b>Random fact</b><br /><span>{{ result }} </span>
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="goBack()" matTooltip="Go back">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile [colspan]="5">
    <div class="full-width-top">
      <h6>'Movie Stars' palette distribution: </h6>
      <button mat-fab (click)="goBack()" style="margin: 1em;">Dflt</button>
      <button mat-fab (click)="goBack()" style="margin: 1em;" color="accent">Acnt</button>
      <button mat-fab (click)="goBack()" style="margin: 1em;" color="primary">Prim</button>
      <button mat-fab (click)="goBack()" style="margin: 1em;" color="warn">Warn</button>
      <button mat-fab (click)="goBack()" style="margin: 1em;" color="foreground">Fore</button>
      <button mat-fab (click)="goBack()" style="margin: 1em;" color="background">Back</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>


<h2>My Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
    <span class="badge">{{ task.id }}</span> {{ task.name }}
  </li>
</ul>

<app-task-detail [task]="selectedTask"></app-task-detail>
