<mat-card *ngIf="task">
  <mat-card-header>
    <img mat-card-avatar src="https://weather.gc.ca/weathericons/{{ task.imgurl }}.gif" alt="{{ task.imgurl }}" />
    <mat-card-title>{{ task.name | uppercase }}&nbsp;-&nbsp;{{ task.progress }}&nbsp;% </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- 
      <label>name:<input [(ngModel)]="task.name" placeholder="name"/></label>
     -->
    <br />
    <div>
      <ng-container *ngIf="task.subtasks; then branchView; else leafView"> </ng-container>
      <ng-template #branchView>
        {{ task.subtasks.length }} subtasks.
        <!-- not here: <app-task-subtasks [subtasks]="task.subtasks"></app-task-subtasks> -->
      </ng-template>
      <ng-template #leafView> Is done: <input [(ngModel)]="task.done" type="checkbox" name="doneFlag" id="doneFlag" /> </ng-template>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <div style="text-align:center; background-color: #888; align-content: center; align-items: center; align-self: center; ">
      <button mat-button (click)="goBack()" matTooltip="Go back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-card-actions> -->
</mat-card>
